body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #292333;
    background-color: #eee7f2;
}

header {
    border: 1px solid black;
    width: 83%;
    text-align: center;
    background-color: #6f5a7d;
    border-radius: 15px;
}

header h2 {
    position: relative;
    left: 5px;
}

img {
    width: 240px;
    height: 230px;
    border: 2px solid #f7f3f8;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;

}

main {
    border: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83%;
    background-color: #f7f3f8;
    border-radius: 15px;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#about {
    margin-top: 2px;
    display: flex;
    flex-direction: row;

    /* align-content: center; */
    background-color: #e5d9ea;
    border-radius: 15px;
    border: 1px solid black;
    width: 80%;

}

#skills {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
    margin-top: 2px;
    margin-right: 6px;
    background-color: #d8c9df;
    border-radius: 15px;
}

#journey {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 2px;
    background-color: #e5d9ea;
    border-radius: 15px;

}

.align {
    display: flex;
    flex-direction: row;
}

#info {
    border: 1px solid black;
    text-align: center;
    margin-top: 2px;
    background-color: #d8c9df;
    border-radius: 15px;
}

footer {
    margin-top: 2px;
    border: 1px solid black;
    text-align: center;
    background-color: #6f5a7d;
    color: white;
    border-radius: 15px;
    width: 83%;
}

nav {
    margin-top: 1px;
    border: 1px solid black;
    width: 83%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    background-color: #d8c9df;
    border-radius: 6px;
}

nav a:hover {
    color: #6f5a7d;
}

footer a {
    color: white;
}